*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;

}
.top{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top ,rgba(0, 0, 0, 0.628),rgba(0, 0, 0, 0.61)),url(bgg1.jpg) ;
    background-size:cover ;
    background-position: center;

}

.navbar{

    width: 85%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}


.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
    
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.content h1{
    color: #fff;
   font-size: 70px;
    margin-top: 80px;

}

.content p{
    color: #fff;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

button{

    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.search{
    margin: 25px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    

}



/*.............................*/

h5{
    margin-top: 100px;
    margin-left: 100px;
    color:#EF4765;
    letter-spacing: 1.5px;

}

.h1_fet{
    font-size: 60px;
    color: #3c3e41;
    margin-left: 100px;
    margin-top: 25px;
}

.container_services{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.box_sevrices{

    width:250px ;
    height:250px ;
    padding: 50px;
    overflow: hidden ;
    border-radius: 15px;
    background: linear-gradient(to right top  ,#e6e6e6 ,#ffffff11);
    box-shadow:  #d1d1d1 ,  #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.box_sevrices:hover{
    background-color: #EF4765;
    box-shadow:  #d1d1d1 , #ffffff;
}

.icon_image{
    margin: 10px;
    padding: 5px;
    font-size: 50px;
    width: 50%;
}

/*-------------------------------------section----
*/

.footerclass{

    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #EF4765;
    overflow: hidden;

}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;

}

section  .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section  .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section  .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section  .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}


@keyframes animate{
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 1000px;
    }
}


















.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: fixed;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}